@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>my name is thieu tri dung, websote da thanh cong min man</h1>
    <h1>my name is thieu tri dung, websote da thanh cong min man</h1>
</div>
